{% extends "base.html" %}
{% block content %}
<h1>Voorraadbeheer</h1>
<table class="stocktabel">
  <thead><tr><th></th><th>Pod</th><th>Categorie</th><th>Voorraad</th></tr></thead>
  <tbody>
    {% for pod in pods %}
      <tr>
        <td><img class="thumb" src="{{ url_for('static', filename='pods/' ~ pod['image_bestand']) }}" alt=""></td>
        <td>{{ pod['naam'] }}</td>
        <td>{{ pod['categorie'] }}</td>
        <td>
          <form method="post" action="{{ url_for('admin_stock_update') }}" class="inline">
            <input type="hidden" name="pod_id" value="{{ pod['id'] }}">
            <input type="number" name="stock" min="0" value="{{ pod['stock'] }}" style="width:5em">
            <button type="submit">Opslaan</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
